/* Global */

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    box-sizing: border-box;
}

/* Header */
.header {
    z-index: 1;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    align-items: center;
    flex-direction: row;
    background-color: black;
}

.text {
    display: flex;
    flex-shrink: 1;
}

.header img {
    height: 50px;
    padding-left: 10px;
    margin-right: auto;
}

.header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.header ul li{
    flex: 0 0 auto;
    padding-left: 20px;
}

.links{
    flex-direction:row;
    text-decoration: underline;
    align-items: center;
}

/* Mission Statement */
.mission {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}

.mission .text{ 
    display: inline-flex;
    flex-direction: column;
    width: 1200px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
}

/* Tea of the Month */
.totm {
    text-align: center;
}

.image-container {
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.totm img{
    width: 300px;
    height: 200px;
    padding:10px;
}
/* Locations */
.locations {
    display: inline-flex;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image:url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*15lpy6u*_ga*MzM2Nzk4MDE3LjE2NTIwNjgyNTM.*_ga_3LRZM6TM9L*MTY1NDA0NTU3MC40Ni4xLjE2NTQwNDU1ODIuNDg.);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    max-width: 1200px;
}

.locations-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    background-color: transparent;
}

.title {
    margin-bottom: 15px;
}

.location-info{
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 1;
}

.location-name{
    width: 300px;
    height: auto;
    margin: 15px 20px;
    background-color: black;
}




/* Contact */
.item-email {
    height: 200px;
    width: 300px;
    color: #b3b9c4;
    margin: auto;
}

.contact-email {
    text-align: center;
}

/* Footer */
footer {
    bottom: 0;
    display: flex;
    text-align: left;
    width: 100%;
    margin-left: 20px;
}
